<div style="height:100%"class="jumbotron">
    <h1 class="display-4">Hey Karol</h1>
    <p class="lead">You can see the surprise when you get back to Toronto on May 6th.</p>
    <hr class="my-4">
    <p class="lead">Be stoked.</p>
    <div style = "margin-left: auto;
    margin-right: auto; text-align: center">
        <iframe ng-if="!itsTime"  src="https://giphy.com/embed/6z8iKXnpjU7hS" width="100%" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        <iframe ng-if="itsTime" src="https://giphy.com/embed/9x9cyoRoG1hZu" width="100%" height="253" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        <a style="margin-top: 20px;" class="btn btn-primary btn-lg" href="{{linkUrl}}" role="button">{{linkDescription}}</a>
    </div>

</div>